@import './colors';
@import './buttons.scss';

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Arimo', sans-serif;
}

h6 {
  @apply text-[10px] font-medium uppercase;
}

.sidebar {
  width: 270px !important;
}

.sidebar-btn {
  @apply flex w-full items-center gap-x-4 px-8 py-2 text-[14px] hover:bg-gray-700;
  span {
    font-size: 18px !important;
  }
}

.dark {
  @apply bg-gray-800 text-white;
}
.light {
  @apply bg-gray-300 text-gray-800;
}
