.input-item {
  @apply rounded border border-gray-200 bg-transparent outline-none  dark:border-gray-700;
  padding: 0.5em 1em !important;
  margin-bottom: 0.5em !important;
}

.error-input {
  background-color: rgba(255, 3, 3, 0.123) !important;
  border: 1px solid red !important;
}

.auth-form {
  input {
    font-size: 14px !important;
    @apply mb-4 w-full rounded-full border border-gray-200 bg-gray-200 bg-opacity-50 px-4 pb-1
      pt-4 outline-none transition-all duration-300 ease-in-out dark:bg-transparent;
    &:hover,
    &:focus {
      @apply border-gray-700;
    }
  }
  input:hover + .floating-label,
  input:focus + .floating-label,
  input:not([value='']):valid ~ .floating-label {
    top: 4px;
    font-size: 12px;
    font-weight: 300;
    opacity: 1;
  }

  .floating-label {
    position: absolute;
    font-size: 14px;
    pointer-events: none;
    left: 18px;
    top: 20%;
    font-weight: 500;
    @apply text-gray-500;
    transition: 0.2s ease all;
  }
}
